<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77618770405-rfqt929tou30lkesmgeh87qmcp8q5fph.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77618770405-rfqt929tou30lkesmgeh87qmcp8q5fph</string>
	<key>API_KEY</key>
	<string>AIzaSyCjt_i5w-K6QDYrPXg-SONfH-fTYfVKEQo</string>
	<key>GCM_SENDER_ID</key>
	<string>77618770405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fireTest</string>
	<key>PROJECT_ID</key>
	<string>myfluttertest-f7760</string>
	<key>STORAGE_BUCKET</key>
	<string>myfluttertest-f7760.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77618770405:ios:4530d67f4f53f7e417bf0c</string>
</dict>
</plist>